<section class="hero -gold-background is-medium">
  <div class="hero-body has-text-centered">
    <div class="columns my-gallery is-multiline is-mobile">
      <div class="column is-full-mobile is-one-quarter-desktop">
        {% for image in site.gallery %}
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ image.url }}" itemprop="contentUrl" data-size="850x1200">
            <img data-src="{{ image.url }}" src="{{ image.url }}" class="lazyload" itemprop="thumbnail" alt="Image description" />
          </a>
        </figure>
        {% endfor %}
      </div>
      <div class="column is-full-mobile is-one-quarter-desktop">
        {% for image in site.gallery %}
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ image.url }}" itemprop="contentUrl" data-size="850x1200">
            <img data-src="{{ image.url }}" src="{{ image.url }}" class="lazyload" itemprop="thumbnail" alt="Image description" />
          </a>
        </figure>
        {% endfor %}
      </div>
      <div class="column is-full-mobile is-one-quarter-desktop">
        {% for image in site.gallery %}
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ image.url }}" itemprop="contentUrl" data-size="850x1200">
            <img data-src="{{ image.url }}" src="{{ image.url }}" class="lazyload" itemprop="thumbnail" alt="Image description" />
          </a>
        </figure>
        {% endfor %}
      </div>
      <div class="column">
        {% for image in site.gallery %}
        <figure class="image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ image.url }}" itemprop="contentUrl" data-size="850x1200">
            <img data-src="{{ image.url }}" src="{{ image.url }}" class="lazyload" itemprop="thumbnail" alt="Image description" />
          </a>
        </figure>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
