<section class="hero has-background-dark is-medium">
  <div class="hero-body">
    <div class="columns is-multiline is-mobile">
      <div class="column is-full -margin-bottom-30">
        <h1 class="title is-size-1 has-text-centered -gold-color -great-vibes">Where?</h1>
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <div id="map"></div>
        <br>
        <h1 class="title is-size-4 has-text-centered has-text-white
        -great-vibes"> {{ site.ceremony }} (10:00 am) </h1>
        <h2 class="subtitle has-text-weight-bold is-size-6 has-text-white has-text-centered">Ching and Ching Law
          Office </h2>
        <h2 class="subtitle is-size-7 has-text-white has-text-centered">J
          Chanyungco Street, Barangay Santa Elena, Marikina, 1800 Metro
          Manila </h2>
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <div id="map2"></div>
        <br>
        <h1 class="title is-size-4 has-text-centered has-text-white
        -great-vibes"> Reception (11:00 am) </h1>
        <h2 class="subtitle is-size-6 has-text-white has-text-weight-bold has-text-centered">Eat
          Fresh </h2>
        <h2 class="subtitle is-size-7 has-text-white has-text-centered">32 General Ordoñez Ave, Marikina, 1800 Metro Manila
        </h2>
      </div>
    </div>
  </div>
</section>
