<section class="hero has-background-dark is-medium">
  <div class="hero-body">
    <div class="columns is-multiline is-mobile">
      <div class="column is-full -margin-bottom-30">
        <h1 class="title is-size-1 has-text-centered -gold-color
          -great-vibes">RSVP</h1>
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSf9rpoUpUOGc73c2S0-a8E-V1PQ7dPhAvgVR6T_03p9Y1Rssw/viewform?embedded=true&hl=en"
          class="rsvp-form" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <div class="columns is-multiline is-mobile">
          <div class="column is-full">
            <h1 class="title -great-vibes is-size-3 has-text-centered
            has-text-white">Plan on giving us a gift?</h1>
            <p class="is-size-6 has-text-white has-text-centered">
              We haven’t got a gift list for all of you to see<br>
              Because as you know we never can agree!<br>
              But if you’d like to help us start our married life,<br>
              A gift of cash, would save a lot of strife!
            </p>
          </div>
          <div class="column is-full">
            <br>
            <br>
            <h1 class="title -great-vibes is-size-3 has-text-centered has-text-white">Contact
              Us</h1>
          </div>
          <div class="column is-half">
            <p class="has-text-white has-text-weight-bold">
              <span class="icon">
                <i class="fas fa-male" aria-hidden="true"></i>
              </span>
              Jaime Jazareno III
            </p>
          </div>
          <div class="column is-half">
            <p class="has-text-white">
              <span class="icon">
                <i class="fa fa-mobile" aria-hidden="true"></i>
              </span>
              09175772063
            </p>
            <p class="has-text-white">
              <span class="icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
              02-8483596
            </p>
            <p class="has-text-white">
              <span class="icon">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </span>
              @jaimewave
            </p>
            <p class="has-text-white">
              <span class="icon">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </span>
              @jaimejazareno
            </p>
          </div>
        </div>
        <div class="columns is-multiline is-mobile">
          <div class="column is-half">
            <p class="has-text-white has-text-weight-bold">
              <span class="icon">
                <i class="fas fa-female" aria-hidden="true"></i>
              </span>
              Alexandra Jenice Madarang
            </p>
          </div>
          <div class="column is-half">
            <p class="has-text-white">
              <span class="icon">
                <i class="fa fa-mobile" aria-hidden="true"></i>
              </span>
              09190821952
            </p>
            <p class="has-text-white">
              <span class="icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
              02-7215715
            </p>
            <p class="has-text-white">
              <span class="icon">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </span>
              @alexmdrng
            </p>
            <p class="has-text-white">
              <span class="icon">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </span>
              @alexmadarang
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
