---
---

.section {
  &.section1 {
    background-image: url("../images/bg.JPG");
    background-position: 0 14%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #999;
  }
}
