---
---

.header-container {
  background-image: url("../images/bg.JPG") ;
  background-position: 0 14%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
}

.title {
  text-shadow: 1px 1px 1px black;
}
