---
---

$default-gold: #B9A481;
$default-black: #0a0b0d;

@font-face {
  font-family: great-vibes;
  src: url('../fonts/GreatVibes-Regular.ttf');
}

body {
  background: $default-gold;
}

.header-container {
  background-image: url("../images/bg.JPG");
  background-position: -22vw 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $default-black;
}

.proposal-vid {
  height: 400px;
  max-width: 100%;
  width: 560px;
}

.hero {
  &.-proposal {
    background-filter: blur(2px);
    background-image: url("../images/bg2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $default-black;
  }
  &.is-primary {
    background-color: $default-black;
  }

  &.-gold-color {
    color: $default-gold;
  }

  &.-gold-background { 
    background-color: $default-gold;
  }
}

.title {
  text-shadow: 1px 1px 1px black;
  &.-gold-color {
    color: $default-gold !important;
  }
  &.-great-vibes {
    font-family: great-vibes;
  }
}

#map, #map2 {
  width: 100%;
  height: 300px;
}

.column {

  &.-margin-bottom-30 {
    margin-bottom: 30px;
  }

  >.rsvp-form {
    width: 100%;
    height: 900px;
  }
}



.my-gallery img {
  width: 100%;
  height: auto;
  border: 4px white solid;
}



.my-gallery figcaption {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero {
    &.-proposal {
      background-position: center;
    }
  }
}
